<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="FileDiProvenienza" value="webconfigDebug"/>
  </appSettings>
  
  <system.web>
  </system.web>
</configuration>
